// html {
// 	// scroll-snap-type: y mandatory;
// 	scroll-behavior: smooth;
// }

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

body {
	background-color: #0c0c1d;
	color: lightgray;
}

a {
	text-decoration: none;
	color: inherit;
}

section {
	height: 100vh;
	width: 100vw;
	scroll-snap-align: center;
	overflow: hidden;
}

:root {
    --element-height: calc(300px * (16 / 9));
    --viewport-height: 100vh;
}

@keyframes carousel-move {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@mixin mobile {
	@media (max-width: 738px) {
		@content;
	}
}
@mixin tablet {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin desktop {
	@media (max-width: 1366px) {
		@content;
	}
}
